table.litetable {
	width: 100%;
	height: 100%;
	display: block;
}

table.litetable tr {
	display: block;
	width: 100%;
}

table.litetable th,
table.litetable td {
	display: inline-block;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

table.litetable th {
	color: #6c7ba7;
	background: #272a30;
	font-weight: bold;
	/*
    background: -webkit-linear-gradient(#4B4947,#32302D) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(#4B4947,#32302D) repeat scroll 0 0 transparent;
    background: linear-gradient(#4B4947,#32302D) repeat scroll 0 0 transparent;
	*/
}

table.litetable td {
	padding: 2px 4px;
}

table.litetable tr:nth-child(even) {
	background: rgba(0, 0, 0, 0.1);
}
