/****** litegui css/style.css */

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Here goes the css related to look and feel (buttons, lists, titles) */
body {
	font-family: "Arial";
	font-size: 14px;
	color: #aaa;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

h1 {
	color: #777;
	/*font-size: 32px;*/
	/*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.125);*/
	padding-left: 10px;
	height: 40px;
}

a {
	color: #dc8;
	text-decoration: none;
}

a:hover {
	color: #fea;
	text-decoration: underline;
}

#menu-bar {
	background-color: #3d3d3d;
}




.litecontextmenu {
	position: fixed;
	top: 100px;
	left: 100px;
	min-width: 100px;
	color: #aaf;
	padding: 0;
	box-shadow: 0 0 10px black !important;
	background-color: #2e2e2e !important;
}

.litecontextmenu .litemenu-title img {
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 4px;
}

.litecontextmenu .lite-menu-panel-item {
	margin: 2px;
	padding: 2px;
}

.litecontextmenu .lite-menu-panel-item.submenu {
	background-color: #2e2e2e !important;
}


.litedialog .content button.litebutton {
	vertical-align: initial;
}

.litedialog button.litebutton.mini-button {
	margin: 2px 2px 0 0;
	line-height: 0;
	padding: 0;
	width: 1.1em;
	height: 1.1em;
	box-shadow: 0 0 0;
	border: 1px solid #222;
}


.litesplit {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.litesplit .split-section {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	height: 100%;
}

/**** LiteTree ***/

li.ltreeitem {
	list-style-type: none;
	cursor: pointer;
	/*background: url("../imgs/tree_lines_16x16.png") no-repeat scroll 5px -8px transparent;*/
	/*padding-left: 20px;*/
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

li.ltreeitem:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.1);
}

li.ltreeitem:hover {
	background-color: #444;
}

/*
li.ltreeitem:nth-child(even) div.ltreeitemtitle {
	background-color: black;
}
*/

li.ltreeitem.root_item {
	background: transparent;
	padding-left: 0px;
}

li.ltreeitem div.ltreeitemtitle {
	color: #aaa;
	min-width: 100px;
	white-space: nowrap;
}

li.ltreeitem div.ltreeitemtitle .incontent:hover {
	color: white;
}

li.ltreeitem.selected div.ltreeitemtitle .incontent {
	color: #ec6;
}

li.ltreeitem.semiselected div.ltreeitemtitle .incontent {
	color: #a96;
}

li.ltreeitem div.ltreeitemtitle.dragover .incontent {
	background-color: #ec6;
	color: black;
	padding: 3px;
	border-radius: 2px;
	font-size: 2em;
}

ul.ltreeitemchildren {
	margin: 0;
	padding: 0;
	margin-left: -2px;
	list-style-type: none;
	/*background: url("../imgs/tree_lines_16x16.png") repeat-y transparent;*/
	/*outline: 1px #aaa dotted;*/
}

li.ltreeitem .ltreeitemtitle .precontent {
	margin-right: 4px;
}

li.ltreeitem .ltreeitemtitle .postcontent {
	margin-left: 4px;
}

li.ltreeitem.hidden,
li.ltreeitem.filtered {
	display: none;
}

.listbox {
	font-size: 1em;
	width: 0.9em;
	height: 0.9em;
	margin-left: -1px;
	margin-right: 0.5em;
	margin-bottom: 2px;
	line-height: 1em;
	display: inline-block;
	/*outline: 1px solid #678;*/
	text-align: center;
	color: #79a;
}

.listbox.empty {
	margin-left: 2px;
	width: 0.4em;
	height: 0.4em;
	color: #36a;
	background-color: #467;
	/* Hide the text. */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.listbox:hover {
	color: white;
	background-color: rgba(100, 100, 100, 0.5);
}

.litesplitbar {
	background-color: #222;
	display: inline-block;
}

.litesplitbar:hover {
	background-color: #888;
	transition: all 0.5s;
	transition-delay: 0.3s;
}

.litesplitbar.horizontal {
	cursor: e-resize;
	width: 2px;
	height: 100%;
}

.litesplitbar.vertical {
	cursor: n-resize;
	width: 100%;
	height: 2px;
}

input {
	color: #55aaff;
	background-color: #222;
	border: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #888;
	border-radius: 3px;

	user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
}

textarea.textfield {
	color: #55aaff;
	background-color: #222;
	border: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #888;
	border-radius: 3px;
}

.tinybox {
	width: 8px;
	height: 8px;
	margin: 2px;
	margin-bottom: 0px;
	display: inline-block;
	background-color: #44ffaa;
	opacity: 0.5;
}

.tinybox.ok {
	background-color: #33ff99;
	opacity: 1;
}

.litepad {
	position: relative;
	background-color: #222;
	cursor: pointer;
}

.litepad .litepad-handler {
	position: absolute;
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #660;
	border: 2px solid #aaf;
	border-radius: 10px;
	top: 0;
	left: 0;
	pointer-events: none;
}

.ellipsis {
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

